<div class="login-wrapper login-wrapper-custom">
    <form class="login login-custom" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <section class="title">
            <h3 class="welcome">Welcome!</h3>
        </section>


        <div class="login-group">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error active">
                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="email.errors.email">
                    Valid email is required.
                </div>
            </div>
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="text" name="email" clrInput placeholder="Email" formControlName="email" />
            </clr-input-container>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error active">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    Password is too short
                </div>
            </div>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" clrPassword placeholder="Password" formControlName="password" />
            </clr-password-container>
            <div *ngIf="error" class="error active">{{error}}</div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                <app-loading *ngIf="loading"></app-loading> {{!loading ? 'Login' : ''}}
            </button>
        </div>
    </form>
</div>