<h3>User list: 
    <span *ngIf='users'>
        ({{users.length}})
    </span>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Access</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i;">
            <td>{{user.email}}</td>
            <td>{{user.access}}</td>
            <td>missing status</td>
            <td>actions</td>
        </tr>
    </tbody>
</table>